__pycache__/**
venv-mt/**
venv-mt2/**
venv-mt-2/**
**/**/__pycache__/**
**/**/**/__pycache__/**
**/__pycache__/**
**/**/**/venv-mt/**
**/**/**/venv-mt2/**
**/**/**/venv-mt-2/**
**/**/venv-mt/**
**/**/venv-mt2/**
**/**/venv-mt-2/**
**/venv-mt/**
**/venv-mt2/**
**/venv-mt-2/**
**/Ops_5_export/**
**/**/config/**
**/config/**
config/**
.idea/**
**/.idea/**