__pycache__/**
venv-mt/**
**/**/__pycache__/**
**/**/**/__pycache__/**
**/__pycache__/**
**/**/**/venv-mt/**
**/**/venv-mt/**
**/venv-mt/**
**/Ops_5_export/**
**/**/config/**
**/config/**
config/**
.idea/**
**/.idea/**